body {
    margin: 0;
    font-family: "Segoe UI";
  }

.todoList-container{
    text-align: center;
    width: 520px;
    height :110px;
    background-color: dimgrey;
}

.todoList-title {
    display: block;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.todoList-input {
    width:240px;
    height: 30px;
    margin-right: 20px;
}

.todoList-button {
    width: 70px;
    height: 35px;
    font-family: "Segoe UI";
}

.todoList-description {
    font-size: 22px;
    margin-bottom: 10px;
    color:gainsboro;
    font-family: "Segoe UI";
}

.todoItem-items {
    width: 300px;
    font-size: 20px;
    margin-bottom: 10px;
    color:royalblue;
    font-family: "Segoe UI";
}